#main {
  min-height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

.navbar-shadow {
  box-shadow: 0 1px 6px -2px rgb(127 127 127 / 75%);
  -webkit-box-shadow: 0 1px 6px -2px rgb(127 127 127 / 75%);
  -moz-box-shadow: 0 1px 6px -2px rgb(127 127 127 / 75%);
}

.footer {
  padding: 16px;
  background-color: #fff;
}

.footer a {
  color: $dark;
}

.header {
  margin-bottom: 20px;
  padding-top: 150px;
  padding-bottom: 150px;
  color: white;
  //background: linear-gradient(to bottom right, hsl(281deg 100% 53%) 0%, hsl(55deg 96% 46%) 100%);
  background-image: url("https://ichef.bbci.co.uk/news/976/cpsprodpb/A12D/production/_102816214_observingsunposter-jhu-apl.jpg");
  background-size: cover;
}

.congrats {
  background: linear-gradient(to right, hsl(60deg 100% 53%) 0%, hsl(307deg 95% 44%) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}