#main {
  min-height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

.navbar-shadow {
  box-shadow: 0 1px 6px -2px rgb(127 127 127 / 75%);
  -webkit-box-shadow: 0 1px 6px -2px rgb(127 127 127 / 75%);
  -moz-box-shadow: 0 1px 6px -2px rgb(127 127 127 / 75%);
}

.footer {
  padding: 16px;
  background-color: #fff;
}

.footer a {
  color: $dark;
}